mixin card(a)
	- let date = a.datetime
	.notecard
		.notecard-label(style=`background-color: ${a.category.color}`)= a.category.name
		.notecard-wrapper
			.notecard-header(style=`border-color: ${a.category.color}`)
				h3.notecard-title= a.title

			.notecard-body
				| !{a.content}
			.notecard-footer
				time(datetime=date.value)= date.fromNow
				a.btn.btn-outline-dark(role="button" href=`/blog/${a.slug}`) Ler