mixin card(a)
	- let date = a.datetime
	.notecard
		.notecard-header
			.label.label-cat(style=`background-color: ${a.category.color}`)
			.header-inner
				h3.notecard-title= a.title

		.notecard-body
			.label.label-line
			.body-inner !{a.content}
		.notecard-footer
			.label
			.footer-inner
				time(datetime=date.value)= date.fromNow
				a.btn.btn-outline-dark(role="button" href=`/blog/${a.slug}`) Ler