extends layout

block content
	.container
		section.items-list.row.row-cols-1.p-4
			h3 Categorias
			.list-group
				each c in categories
					a.list-group-item.list-group-item-action(href=`/blog/c/${c.slug}` style="max-width: 45rem;")
						.d-flex.w-100.justify-content-between.align-items-center
							h5.mb-1= c.name
							if c.last
								span.badge.badge-pill.badge-light= c.last.datetime.fromNow
						p.mb-1= c.description
						.category-color(style=`background-color: ${c.color}`)