extends layout
include includes/notecard.pug

block content
	.container-lg
		.row.row-cols-1.row-cols-md-2
			section(role="feed").feed.col-12.col-md-9
				header.feed-header
					h2.h4.mb-0 Página
						small.pl-3.text-muted= left+1
				each a in articles
					+card(a)
				footer.feed-footer
					nav.nav.nav-justified
						a.btn.nav-item.mx-4.my-2.text-nowrap(role="button" class=left?'btn-outline-primary':'btn-outline-dark disabled', href=left?`/blog${left-1?'?left='+(left-1):''}`:'/blog', tabindex=left?'':'-1', aria-disabled=left?'false':'true') Mais recente
						a.btn.nav-item.mx-4.my-2.text-nowrap(role="button" class=more?'btn-outline-primary':'btn-outline-dark disabled', href=more?`/blog?left=${left+1}`:`/blog?left=${left}`, tabindex=more?'':'-1', aria-disabled=more?'false':'true') Mais antigo


			aside.col-md-3
				.contact.card
					img.card-img-top.owner-img(src=author.gravatar)
					.card-body
						h5.card-title= author.full_name
						p.card-text desenvolvedor FullStack
					.list-group.list-group-flush
						a.list-group-item.list-group-item-action.icon-call(href='https://wa.me/5575999433169?text=Ol%C3%A1%2C%20eu%20quero%20contratar%20um%20servi%C3%A7o%20seu%20de%20desenvolvimento' target="_blank") WhatsApp
						a.list-group-item.list-group-item-action.icon-forward(href='https://www.freelancer.com/u/ruansenadev' target="_blank") Freelancer
						a.list-group-item.list-group-item-action.icon-develop(href='https://github.com/ruansenadev' target="_blank") GitHub

				.card.bg-light.categories
					.card-header.icon-decorate Categorias
						a.stretched-link(href='/blog/c')

				.card
					.card-header.icon-schedule Arquivos
					#archives.accordion
						each months, year in archives
							if year == actual
								.card.mb-0
									.card-header(id=`heading${year}`)
										h2.mb-0
											button.btn.btn-block.text-left(type="button" data-toggle="collapse" data-target=`#collapse${year}` aria-expanded="true" aria-controls=`collapse${year}`)= year
									.collapse.show(id=`collapse${year}` aria-labelledby=`heading${year}` data-parent="#archives")
										.list-group.list-group-flush
											each m in months
												a.list-group-item.list-group-item-action(href=`/blog/a?m=${m.month}`)= m.name
													span.px-2.ml-2.badge.badge-dark= m.items
							else
								.card.mb-0
									.card-header(id=`heading${year}`)
										h2.mb-0
											button.btn.btn-block.text-left(type="button" data-toggle="collapse" data-target=`#collapse${year}` aria-expanded="false" aria-controls=`collapse${year}`)= year
									.collapse(id=`collapse${year}` aria-labelledby=`heading${year}` data-parent="#archives")
										.list-group.list-group-flush
											each m in months
												a.list-group-item.list-group-item-action(href=`/blog/a?m=${m.month}&y=${year}`)= m.name
													span.px-2.ml-2.badge.badge-dark= m.items